:root {
    /* Couleurs principales */
    --color-primary: #017679;
    --color-primary-rgba: #01757991;
    --color-primaryOpacity: #ffc92862;
    /* --color-secondary: #a4a4a4; */
  
    /* Couleurs personnalisées */
    --color-black: #0d0d0d;
    --color-dark: #1a1a1a;
    --color-white: #ffffff;
    --color-text: #4d4747ab;
    --color-text-secondary: #353535e5;
  

  
    /* tailles */
    
    --fs-s: 0.9rem;
    --fs-0: 1.1rem;
    --fs-sm: 1.2rem;
    --fs-base: 1.3rem;
    --fs-lg: 1.7rem;
    --fs-xl: 2rem;
    --fs-xxl: 2.5rem;
    --fs-xxxl: 3.6rem;
  
    /* poids (épaisseur) */
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
  }
  